
{
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "describe": false,
    "xdescribe": false,
    "it": false,
    "xit": false,
    "before": false,
    "beforeEach": false,
    "after": false,
    "afterEach": false,
    "expect": false
  },
  "rules": {
    "no-bitwise": "error",
    "camelcase": "error",
    "curly": [
      "error",
      "all"
    ],
    "brace-style": [
      "error", 
      "stroustrup"
    ],
    "eqeqeq": "error",
    "wrap-iife": [
      "error",
      "any"
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "no-use-before-define": "warn",
    "new-cap": "error",
    "no-caller": "error",
    "quotes": [
      "error",
      "single"
    ],
    "no-undef": "error",
    "no-unused-vars": "warn",
    "strict": [
      "error",
      "function"
    ],
    "no-invalid-this": "error",
    "keyword-spacing": [
      "error",
      {}
    ],
    "space-infix-ops": "error",
    "no-implicit-coercion": [
      "error",
      {
        "string": true
      }
    ],
    "no-with": "error",
    "no-multi-str": "error",
    "no-trailing-spaces": "error",
    "no-mixed-spaces-and-tabs": "error",
    "eol-last": "error",
    "semi": "error"
  }
}
